<!doctype html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body class="flex flex-dir-col">
    <%- include("./partials/header.ejs") %>

    <div class="app-container flex">
      <%- include("./partials/navbar.ejs") %>
      <div class="pad2 w100 h100">
        <div class="flex flex-dir-col">
          <span class="font-sx1 playfair-display-400 underline"><%= title %> <%= folder.title %></span><div> <a href="/folders/<%=folder.title%>/edit"><button>Edit folder</button></a><a href="/folders/<%= folder.title %>/delete"><button>Delete folder</button></a></div> 
        </div>
        <div
          class="grid gridr4 gridc8 files-container grid-al-it-center grid-just-cont-center"
        >

        <% folder.Files.forEach((file) => { %>
            <div class="file-card flex flex-dir-col flex-just-cont-center flex-al-it-center">
                <span class="file-title underline playfair-display-400 font-sx1"><%= file.title %></span>
               
                <a href="<%= file.path %>"><button >Download</button></a>

            
            </div>
      <%  }) %>



       

         
        </div>
      </div>
    </div>
  </body>
</html>
